<fa-app>

  <fa-modifier ng-repeat="node in nodes"  fa-translate="node.position" fa-size="[300, 300]">
    <fa-draggable fa-pipe-from="node.handler">
      <fa-surface fa-background-color="'red'" fa-size="[undefined, undefined]" fa-pipe-to="node.handler">
        <!-- Video area -->
        <video id="their-video" autoplay width="100%"></video>
        <video id="my-video" muted="true" autoplay width="100%"></video>

        <!-- Make calls to others -->
        <div id="step2">
          <p>Your id: {{yourId}}</p>
          <p>Share this id with others so they can call you.</p>
          <h3>Make a call</h3>
          <div class="pure-form">
            <input type="text" placeholder="Call user id..." ng-model="calltoId">
            <a href="#" class="pure-button pure-button-success" ng-click="makeCall()">Call</a>
          </div>
        </div>

        <!-- Call in progress -->
        <div id="step3">
          <p>Currently in call with {{theirId}}</p>
          <p><a href="#" class="pure-button pure-button-error" ng-click="endCall()">End call</a></p>
        </div>
      </fa-surface>
    </fa-draggable>
  </fa-modifier>

</fa-app>
